
            <div class="white-form text-center">
            <a href="/users/account/dashboard/">Create Post</a>&nbsp;|&nbsp<a href="/users/account/account/">Account</a>&nbsp;|&nbsp<a href="/users/account/progress/">My Progress</a>&nbsp;|&nbsp<a href="/users/account/myposts/">My Posts</a>
         
          </div>
            <br/>