<div class="row">

  

  <div class="col-lg-12 mt-5 mt-lg-0 d-flex align-items-stretch" data-aos="fade-left">
    <form action="#"  id = "FormUpdateAccount" method="post" role="form" class="php-email-form" >
      <input type="hidden" id="id" value=""></input>
      <div class="form-row">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" 
          class="form-control" 
          id="email" readonly style="cursor: not-allowed;">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="displayname">Display Name</label>
                  <input type="text" 
                  class="form-control" 
                  id="displayname">
        </div>
      </div>


      <!-- <div class="form-row">
        <div class="form-group">
          <label for="lastname">Last Name</label>
                <input type="text" 
                class="form-control" 
                id="lastname">
        </div>
      </div> -->
      <div class="form-row">
        <div class="form-group">
          <label for="location">Address</label>
          <input type="text" 
          class="form-control" 
          id="location">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="url">Website</label>
          <input type="text" 
          class="form-control" 
          id="url">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
         <label for="bio">Tell us a little more about you</label>
        <div class="controls">
          <textarea class="custom-input-width form-control" rows="2" type="text" id="bio" maxlength="500"></textarea><br/>
          <span class="small-text"> No more than 200 characters. <span id="chars" style="font-weight:600;">200</span> characters remaining.</span>
        </div>
      </div>
      
  </div>