<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-6 col-md-6">
          <div class="footer-info">
            <h3>Gratitude Today</h3>
            <p>
              Saint John, New Brunswick <br>
              Canada<br><br>
              <strong>Phone:</strong> +1 506 639-3357<br>
              <strong>Email:</strong> info@gratitudetoday.org<br>
            </p>
            <!-- <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div> -->
          </div>
        </div>

        <div class="col-lg-6 col-md-6 footer-links">
          <h4>Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
            <li><i class="bx bx-chevron-right"></i><a style="padding: 0px;" class="nav-link scrollto" href="#learn">About</a></li>
            
            <li><i class="bx bx-chevron-right"></i> <a href="/terms/">Terms of service</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/privacy">Privacy policy</a></li>
          </ul>
        </div>

      </div>
    </div>
  </div>

  <div class="container">
  <div class="copyright">
      &copy; Copyright <strong><span><a href="https://www.gratitudetoday.org">GratitudeToday.org</a></span></strong>. All Rights Reserved
    </div>
   
  </div>
</footer><!-- End Footer -->
<script>
  
//hide sharethis cookies
$( document ).ready(function() {
    $(".st-cmp-content").hide();
 
});
</script>
<style>
  #st-cmp-v2 .st-cmp-app .st-cmp-settings {
    display:none;
    /* width: 86px;
    height: 24px;
    background-color: #09cd18;
    color: #fff;
    cursor: pointer;
    position: fixed;
    right: -7px;
    bottom: 55px;
    border-radius: 2px;
    line-height: 11px;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%); */

}
</style>
