<!-- ======= Features Section ======= -->
<section id="learn" class="features">
    <div class="container">

      <div class="row">
        <div class="col-lg-6 mt-2 mb-tg-0 order-2 order-lg-1">
          <ul class="nav nav-tabs flex-column">
            <li class="nav-item" data-aos="fade-up">
              <a class="nav-link active show" data-toggle="tab" href="#tab-1">
                <h4>Stage 1. Register for free</h4>
                <p>Register for free to begin.</p>
              </a>
            </li>
            <li class="nav-item mt-2" data-aos="fade-up" data-aos-delay="100">
              <a class="nav-link" data-toggle="tab" href="#tab-2">
                <h4>Stage 2. Select Your Gratitude Journey</h4>
                <p>What are your goals to feel better.</p>
              </a>
            </li>
            <li class="nav-item mt-2" data-aos="fade-up" data-aos-delay="200">
              <a class="nav-link" data-toggle="tab" href="#tab-3">
                <h4>Stage 3. Follow your path with assistance from our Guru</h4>
                <p>Our Guru is always here to assist you with your journey.</p>
              </a>
            </li>
            <li class="nav-item mt-2" data-aos="fade-up" data-aos-delay="300">
              <a class="nav-link" data-toggle="tab" href="#tab-4">
                <h4>Stage 4. Accompish your goals and improve your lifestyle</h4>
                <p>Our Guru is always here to assist you with your journey.</p>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in">
          <div class="tab-content">
            <div class="tab-pane active show" id="tab-1">
              <figure>
                <img src="/assets/img/woman-laptop.jpg" alt="" class="img-fluid">
              </figure>
            </div>
            <div class="tab-pane" id="tab-2">
              <figure>
                <img src="/assets/img/journey.jpg" alt="" class="img-fluid">
              </figure>
            </div>
            <div class="tab-pane" id="tab-3">
              <figure>
                <img src="/assets/img/path.jpg" alt="" class="img-fluid">
              </figure>
            </div>
            <div class="tab-pane" id="tab-4">
              <figure>
                <img src="/assets/img/celebrate.jpg" alt="" class="img-fluid">
              </figure>
            </div>
          </div>
        </div>
      </div>
     
    </div>
    
  </section><!-- End Features Section -->
