<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
    <div class="container">

      <div class="row">
        
        <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in">
          <div class="text-center">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-primary" style="color:#d20000!important;"></i>
              <i class="fas fas fa-smile-beam fa-stack-1x fa-inverse" style="color:white;"></i>
            </span>
            <h4 class="title">Reduces Stress.</h4>
            <p class="description">Gratitude reduces a multitude of toxic emotions, ranging from envy and resentment to frustration and regret.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="100">
          <div class="text-center">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-primary" style="color:#d20000!important;"></i>
              <i class="fas fa-heartbeat fa-stack-1x fa-inverse" style="color:white;"></i>
            </span>
            <h4 class="title">Improve Sleep.</h4>
            <p class="description">Enter a few grateful posts before bed, and you should sleep better and longer.</p>
          </div>
      </div>

        <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="text-center">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-primary "style="color:#d20000!important;"></i>
              <i class="fas fa-arrow-circle-up fa-stack-1x fa-inverse" style="color:white;"></i>
            </span>
            <h4 class="title">Improve Self-Confidence</h4>
            <p class="description">Grateful people are able to appreciate other people’s accomplishments, rather than becoming resentful toward people.</p>
          </div>
        </div>
        
       

      </div>
      <br/>
      <div class="row tex-center">
        <div class="col-12 text-center">
         <a href="/users/auth/" class="btn btn-success scrollto" style="width:50%;">Start Now</a>
        </div>
      </div>

    </div>
  </section><!-- End Services Section -->