
<% if(url == 'accounts'){ %>
  <nav class="nav-menu d-none d-lg-block">
    <ul>
      
        <li><a href="/users/account/dashboard/">Dashboard</a></li>
        <li><a href="/users/account/contact/">Contact</a></li>
        <!-- TODO this need to be a post to logout session-->
        <li><a href="/logout/">Logout</a></li></li>
        <li><a href="/coffee/">Coffee</a></li>
    </ul>
  </nav><!-- .nav-menu -->
<% } else{ %>  
    <nav class="nav-menu d-none d-lg-block">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a class="nav-link scrollto" href="/#learn">About</a></li>
    <li><a href="/users/auth/">Login</a></li>
    <!-- <li><a href="/users/auth/login/">Login</a></li> -->
    <li><a href="/contact/">Contact</a></li>
    <li><a href="/coffee/">Coffee</a></li>
    
  </ul>
</nav><!-- .nav-menu -->
<% } %>






