<div class="col-lg-3">
        <div class="trending-box hidden-xs hidden-md">
         <div class="row">
          <div class="col-lg-12">
            <h4 class="top-label">Things to be grateful for...</h4>
          </div>
         </div>
        </div>
         <div class="suggestion-box full-width">
            <div class="suggestions-list">
                <div class="suggestion-body">
                    
                    <div class="name-box">
                        <span></span>
                        <h4><i class="fa fa-plus"></i>&nbsp;A really comfortable chair</h4>
                        <span></span> 
                    </div>
                  
                </div>
                <div class="suggestion-body">
                    
                    <div class="name-box">
                        <span></span>
                        <h4><i class="fa fa-plus"></i>&nbsp;When you wake up before your alarm and get to roll back over.</h4>
                        <span></span> 
                    </div>
                  
                </div>
                <div class="suggestion-body">
                    
                    <div class="name-box">
                        <span></span>
                        <h4><i class="fa fa-plus"></i>&nbsp;Chocolate.</h4>
                        <span></span> 
                    </div>
                  
                </div>
                <div class="suggestion-body">
                    
                    <div class="name-box">
                        <span></span>
                        <h4><i class="fa fa-plus"></i>&nbsp;Family support. They’ve got your back.</h4>
                        <span></span> 
                    </div>
                  
                </div>
                <div class="suggestion-body">
                    
                    <div class="name-box">
                        <span></span>
                        <h4><i class="fa fa-plus"></i>&nbsp;Vacations.</h4>
                        <span></span> 
                    </div>
                  
                </div>
                <div class="suggestion-body">
                    
                    <div class="name-box">
                        <span></span>
                        <h4><i class="fa fa-plus"></i>&nbsp;Office-provided snacks.</h4>
                        <span></span> 
                    </div>
                  
                </div>
                <div class="suggestion-body">
                    
                    <div class="name-box">
                        <span></span>
                        <h4><i class="fa fa-plus"></i>&nbsp;Alone time.</h4>
                        <span></span> 
                    </div>
                  
                </div>
                <div class="suggestion-body">
                    
                    <div class="name-box">
                        <span></span>
                        <h4><i class="fa fa-plus"></i>&nbsp;An awesome boss.</h4>
                        <span></span> 
                    </div>
                  
                </div>
                <div class="suggestion-body">
                    
                    <div class="name-box">
                        <span></span>
                        <h4><i class="fa fa-plus"></i>&nbsp;Being a parent.</h4>
                        <span></span> 
                    </div>
                  
                </div>
                <div class="suggestion-body">
                    
                    <div class="name-box">
                        <span></span>
                        <h4><i class="fa fa-plus"></i>&nbsp;Getting lost in a good book.</h4>
                        <span></span> 
                    </div>
                  
                </div>
                <div class="suggestion-body">
                    
                    <div class="name-box">
                        <span></span>
                        <h4><i class="fa fa-plus"></i>&nbsp;When your dog is so happy to see you.</h4>
                        <span></span> 
                    </div>
                  
                </div>
                <div class="suggestion-body">
                    
                    <div class="name-box">
                        <span></span>
                        <h4><i class="fa fa-plus"></i>&nbsp;Comfortable shoes.</h4>
                        <span></span> 
                    </div>
                  
                </div>
            </div><!--suggestions-list end-->
        </div>	