<div id="msg-area">
   <strong>What are you gratetul for?</strong>


      <div class="controls">
        <form>
          <input type="hidden" id="id" value=""></input>
         
         
          <!-- <textarea style="padding-bottom:10px;font-family: 'Raleway', sans-serif !important;"  data-emojiable="true" class="form-control custom-input-width" rows="2" type="text" id="postMsg" maxlength="200"></textarea> -->
          <p class="lead emoji-picker-container">
            <textarea class="form-control textarea-control" id="postMsg" c rows="3" data-emojiable="true">I am grateful for </textarea>
            <!-- &nbsp;No more than 200 characters.<span id="chars" style="font-weight:100;">200</span> characters remaining.</span> -->
          </p>
          
          <strong>How are you feeling today?</strong>
          <div>
           
              <input type="radio" value="1" id ="optradio1" name="optradio">&nbsp;Down
              <input type="radio" value="2" id ="optradio2" name="optradio">&nbsp;Not Great
              <input type="radio" value="3" id ="optradio3" checked name="optradio">&nbsp;Okay
              <input type="radio" value="4" id ="optradio4" name="optradio">&nbsp;Good
              <input type="radio" value="5" id ="optradio5" name="optradio">&nbsp;Great
            </div>
            <input type="checkbox" id="publicYn" class="publicYn" required checked>&nbsp;<a href="#" id="myBtn"></a>Share with public <a title="Share with public on homepage" alt="Share with public on homepage" href="#"><strong>?</strong></a>
          <br/><br/>
          
          
      </form>
     
    </div>
    
     
 </div>
 