<!DOCTYPE html>
<html lang="en">

  <% include partials/head %> 

<body>

  <!-- ======= Header ======= -->
  <% include partials/header %>
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  
    <section id="contact" class="contact section-bg" data-aos="fade-up"> 
    <div class="container">
      
      <div class="row">
        
        <div class="col-sm-8 offset-sm-2">
          <div class="section-title" data-aos="fade-up">
            <h2>Account</h2>
            
            <!-- <a href="/users/account/updateAvatar">Update Avatar</a> |  -->
            <!-- <a href="/users/account/changepassword" id="sendreset">Reset Password</a> -->
          </form>
          </div>
          <div id = "validationErrors"></div>
              <div id = "validationSuccess"></div>
              <% include partials/accountnav %>
            <% include partials/account-update-form %>
            <input type="submit" id="button-update-account" class="btn btn-success navtoTop" value="Update">
            <input type="button" class="btn btn-secondary" id="btn_dash" value="Dashboard">
            
         </form> 
        </div>
       
            </div>
    
          </div>
    
        </div>
        
      </div>
       

  <% include partials/cookie-msg %>
  
  <% include partials/scripts %>
  <script>
    $(document).ready(function() {
       getData();
       
   });
   
  
   </script>
   

</body>


</html>

