<!DOCTYPE html>
<html lang="en">

  <% include partials/head %>

<body>

  <!-- ======= Header ======= -->
  <% include partials/header %>
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  
    <section id="contact" class="contact section-bg" data-aos="fade-up"> 
    <div class="container">
      
      <div class="row">
        
        <div class="col-sm-8 offset-sm-2">
          <div class="section-title" data-aos="fade-up">
            <h2>Reset Password.</h2>
           
          </div>
          <form class="white-form text-center"  >
              Email sent to your email address with instructions to reset your password.
              <br/>
              <a href="/users/account/contact/">Contact Us</a> if you do not get email.
          </form>
          <!-- <div id = "validationErrors"></div>
          <div id = "validationSuccess"></div>
          <% include partials/accountnav %>
         
            <form class="white-form" id="resetPasswordProfile" >
              
              <input type="hidden" id="id" value=""></input>
  
              <div class="form-group">
                <label for="password">New Password</label>
                <input type="password" class="form-control" id="password">
  
              </div>
              <div class="form-group">
                <label for="password">Confirm Password</label>
                <input type="password" class="form-control" id="confirmpassword">
  
              </div>
  
  
  
              <div class="control-group">
                <div class="controls">
                  <br />
                  
                  <input type="submit" id="button-update-account" class="btn btn-success navtoTop" value="Reset">
                 
                  <input type="button" class="btn btn-secondary" id="btn_home" onclick="window.history.back();" value="Cancel">
                 
  
                </div>
  
  
            </form>
  
        </div>
        -->
            </div>
    
          </div>
    
        </div>
        
      </div>
       

  <% include partials/cookie-msg %>
  
  <% include partials/scripts %>
  <script>
    $(document).ready(function() {
      $.ajax({
      url: "/users/account/resetPassword/",
      type: "POST",
      data:{},
      success : function(user) {
                //display box if set to false
                
                if(user)
                  //hide box (false)
                  $("#onboardflag").show();
                else
                  //show box (true)
                  $("#onboardflag").hide();
              }
            
    
    });
       getData();
       
   });
  
   </script>

</body>


</html>

