<!DOCTYPE html>
<html lang="en">

  <% include partials/head %>

<body>

  <!-- ======= Header ======= -->
  <% include partials/header %>
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  
    <section id="contact" class="contact section-bg" data-aos="fade-up"> 
    <div class="container">
      
      <div class="row">
        
        <div class="col-sm-8 offset-sm-2">
          <div class="section-title" data-aos="fade-up">
            <h2>Update Avatar.</h2>
           
          </div>
          
            <div id = "validationErrors"></div>
            <div id = "validationSuccess"></div>

        
        <div class="white-form">
            <div>
              <img class="rounded-circle" id="profile-avatar" style="border: 2px dotted #fff;height:75PX;width:75px;" src="/assets/img/avatars/gratitudetoday-avatar.png"></div>
               <br/>
          
              <form  action="/users/upload/upload" method="post" enctype="multipart/form-data">
                <input class="form-control-file" type="file" accept="image/*" name="file">
                <input type="hidden" id="#id" value="">
                <p>
                
                </p>
                <input type="submit" class="btn btn-success navtoTop" value="Upload">
                <input type="button" class="btn btn-secondary" id="btn_dash" value="Dashboard">

            </form>
         </div>
       </div>
    
          </div>
    

  <% include partials/cookie-msg %>
  
  <% include partials/scripts %>
  <script>
    $(document).ready(getData());
  </script>

</body>


</html>


