<!DOCTYPE html>
<html lang="en">

  <% include partials/head %>

<body>

  <!-- ======= Header ======= -->
  <% include partials/header %>
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  
    <section id="contact" class="contact section-bg" data-aos="fade-up"> 
    <div class="container">
      
      <div class="row">
        
        <div class="col-sm-8 offset-sm-2">
          <div class="section-title" data-aos="fade-up">
            <h1>Did Somone Say Coffee?</h1>
          
          </div>
          
    </div>
    </div>
   <br/><br/>
    <div class="row text-center">
        
            <div class="col-md-4 offset-md-2">
            <img src="/assets/img/coffee.png" style="width:50%;">
            </div>
            <div class="col-md-4">
                <p>I love my coffee. I spent a hard work, energy and love to complete this project for others.<br/>
                If you could donate a coffee and help keep the service up and running click below and donate any ammount!</p>
                <form action="https://www.paypal.com/donate" method="post" target="_top">
                    <input type="hidden" name="hosted_button_id" value="ZMKD8TFPV5EJC" />
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                    <img alt="" border="0" src="https://www.paypal.com/en_CA/i/scr/pixel.gif" width="1" height="1" />
                    </form>
                    
            </div>
          </div>
<!--         
        <div class="col-6">
          <div class="section-title" data-aos="fade-up">
            <h1>image</h1>
          
          </div>
          <div class="col-sm-6">
            <div class="section-title" data-aos="fade-up">
              <h1>I love my coffee. I burned through a lot time, energy and love to complete this project.</h1></h1>
            
            </div> -->
          
    </div>
  

</section><!-- End Features Section -->




<% include partials/cookie-msg %>

<% include partials/scripts %>

</body>

</html>