<!DOCTYPE html>
<html lang="en">

  <% include partials/head %>
  <style>
    #myProgress {
      width: 100%;
      background-color: #ddd;
    }
    
    #myBar {
      width: 10%;
      height: 30px;
      background-color:#28a745;
      text-align: center;
      line-height: 30px;
      color: white;
    }
    </style>
<body>
 
  <!-- ======= Header ======= -->
  <% include partials/header %>
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  
  <section id="contact" class="contact section-bg" data-aos="fade-up"> 
    <div class="container">
      
      <div class="row">
        
        <div class="col-12">
          <div class="section-title" data-aos="fade-up">
            <h2>Generating Your Journey!</h2>
         
            <div class="row">
              <div class="col-12 text-center">
                <div id="myProgress">
                    <div id="myBar">10%</div>
                  </div>
                <br/>
                  <p><input type="button" id="btn-start" class="btn btn-success navtoTop" value="Let's Start!" style="display:none;"></p>
            </div>
</section><!-- End Features Section -->

<% include partials/cookie-msg %>
 
  <% include partials/scripts %>

  
</body>
<script>
  $( document ).ready(function() {
      $("#btn-start").hide();
      move();
  });
  var i = 0;
  function move() {
    if (i == 0) {
      i = 1;
      var elem = document.getElementById("myBar");
      var width = 10;
      var id = setInterval(frame, 50);
      function frame() {
        if (width >= 100) {
          clearInterval(id);
          i = 0;
          $("#btn-start").show();
        } else {
          width++;
          elem.style.width = width + "%";
          elem.innerHTML = width  + "%";
        }
        
        
      }
    }
  }
  $( "#btn-start").click(function() {
      window.location.assign("/users/account/dashboard/");
  });
  </script>
</html>

