<!DOCTYPE html>
<html lang="en">

  <% include partials/head %>

<body>

  <!-- ======= Header ======= -->
  <% include partials/header %>
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="sub-hero">
         
    <div class="container">
     
      <div class="row">
        <div class="col-2">&nbsp;</div>
        <div class="col-8">
         
         
<section class="features">
 
  <div class="container white-form">
    
    
    <div class="row">
      <div class="col-12 text-center">
        <h1>Error occurred.</h1>
        <p>OOPPS! Looks like you found a page that is missing or was mistyped.</p>
               <img src="/assets/img/not-found-alien.png"></img><br/>
               <a href="/">Click here to return to homepage.</a>
          <div class="col-2">&nbsp;</div>
        
        
    </div>
  </form> 
  </div>
</section><!-- End Features Section -->


 

  <% include partials/cookie-msg %>
 
  <% include partials/scripts %>

  
</body>


</html>





