<!DOCTYPE html>
<html lang="en">

  <%- include('partials/head'); %>

<body>

  <!-- ======= Header ======= -->
  <%- include('partials/header'); %>
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  
    <section id="contact" class="contact section-bg" data-aos="fade-up"> 
    <div class="container">
      
      <div class="row">
        
        <div class="col-sm-8 offset-sm-2">
          <div class="section-title" data-aos="fade-up">
            <h2>What's on your mind?</h2>
          
          </div>
          
            <div id = "validationErrors"></div>
            <div id = "validationSuccess"></div>
            
            
            
    <div class="row">
     <div class="col-12">
       
      <form type="POST" class="white-form">
        <h1 class="sub-h1">Choose one option for now:</h1>
        <input type="hidden" id ="expId" value="0"/>
          <div class="control-group-radio">
            <!-- <label class="control-radio control--radio">None
              <input type="radio" name="radio" id="none-click" value="0" checked="checked"/>
              <div class="control__indicator"></div>
            </label> -->
            <label class="control-radio control--radio">Manage everyday stress and anxiety.
              <input type="radio" name="radio" id="beg-click" value="1" checked="checked"/>
              <div class="control__indicator"></div>
            </label>
            <label class="control-radio control--radio">Sleeping better.
              <input type="radio" name="radio" id="int-click" value="2" />
              <div class="control__indicator"></div>
            </label>
            <label class="control-radio control--radio">Try something new.
              <input type="radio" name="radio" id="adv-click" value="3" />
              <div class="control__indicator"></div>
            </label>
            <label class="control-radio control--radio">Staying active.
              <input type="radio" name="radio" id="exp-click" value="4" />
              <div class="control__indicator"></div>
            </label>
            
          </div>
          <br/>
          <input type="submit" id="btn-next-create" class="btn btn-success navtoTop" value="Next">
          <input type="button" id="btn-back-journey" class="btn btn-secondary navtoTop" value="Back">
          <input type="button" id="btn-skip-journey" class="btn btn-secondary navtoTop" value="Skip">
            
  
  </form> 
  </div>
</form> 
</div>
</section><!-- End Features Section -->




<%- include('partials/cookie-msg'); %>

<%- include('partials/scripts'); %>

<script> 
      
      $( "#btn-back-journey").click(function() {
        window.history.back();
         
        });
        $( "#btn-skip-journey").click(function() {
          window.location.assign("/users/account/create/");
         
        });
        
        $( "#beg-click").click(function() {
          $("#expId").val(1).trigger("change"); 
         
        });
        $( "#int-click").click(function() {
          $("#expId").val(2).trigger("change"); 
        });
        $( "#adv-click").click(function() {
          $("#expId").val(3).trigger("change"); 
         
        });
        $( "#exp-click").click(function() {
          $("#expId").val(4).trigger("change"); 
        });
        $("#expId").change(function() { 
              
          }); 
        $( "#btn-next-create").click(function() {
          const exp_id = $("#expId").val();
         
          event.preventDefault();
          window.location.assign("/users/account/schedule/"+exp_id);
          
        
         
        });
        
       
</script>

</body>


</html>

