<!DOCTYPE html>
<html lang="en">
  
  
  <!-- This is a new look -->

  <% include partials/head %>


<body style="background-color:white">

  <!-- ======= Header ======= -->
  <% include partials/header %>
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <% include partials/index-hero %>

  <main id="main">
    
   
    <% include partials/index-services %>


    <% include partials/index-features %>

    
    
    
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <% include partials/footer %>

  

  <% include partials/cookie-msg %>
  
  <% include partials/scripts %>

  

</body>

</html>