<!DOCTYPE html>
<html lang="en">

<head>
<!-- head.ejs include -->
<%- include('partials/head'); %>
  
</head>

<body id="page-top">
  <% include partials/pre-loader %>
  <!-- Navigation -->
  <% include partials/profile-nav %>
  <section class= "bg-light page-section content">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading-content">Complete <b>Account Setup.</b></h2>
        </div>
        <div class="col-lg-3 text-left">&nbsp;</div>
        <div class="col-lg-6 text-left">
          <div>
           <!-- forms content -->
           <div id = "validationErrors"></div>
          <div id = "validationSuccess"></div>
  
           
        <% include partials/account-update-form %>
       
        <div class="control-group">
          <div class="controls">
             
              <input type="submit" class="btn btn-success navtoTop" id="updateProfile" value="Update">
              <input type="button" class="btn btn-secondary" id="btn_skip" value="Skip">
              
            <p>
              
            </p>
          </div>
          
</section> 
<!-- Footer -->
  <% include partials/footer %>
  
  <%- include('partials/scripts'); %>

  <%- include('partials/cookie-msg'); %> 

  <script>
    $(document).ready(getData());
  </script>
  
  

</body>

</html>

