<!DOCTYPE html>
<html lang="en">

<head>
	
<!-- head.ejs include -->
<% include partials/head %>
<link type="text/css" href="/assets/css/photo.css" rel="stylesheet" />
  
</head>

<body id="page-top">
	<% include partials/pre-loader %>
  <!-- Navigation -->
  <% include partials/profile-nav %>

    
  <!-- Mental Health -->
 
  <!-- ==============================================
	 PROFILE AREA
	 =============================================== --> 
	
	 <% include partials/profile-left %> 
	 <!--/ col-lg-3 -->
	   <div class="col-lg-6">
	   <div class="cardbox">
		<div id = "validationErrors"></div>
		
		<div id = "validationSuccess"></div>
		
			   <form > 
					   <input type="hidden" id="id" value=""></input>
					    <div class="cardbox-heading">
							   <p class="m-0">What are you grateful for today?</p>
					   </div>
					   <div style="padding-left:15px;">
					   <textarea class="custom-input-width" rows="6" type="text" id="postMsg" maxlength="500" placeholder="I am grateful for"></textarea>
						<br/>
					   
					   <span class="small-text"> No more than 500 characters. <b><span id="chars" style="font-weight:600;">500</span> characters remaining.</b></span>
					   <br/><br/><input type="button"  id = "postMsgForm" value = "Post" class="btn btn-success navtoTop"></button><br/><br/> 
					</div>
				   </form>
			   </div>
			   
			   <div class=".trending-box h4">Recent Posts</div>

				<!-- loop through posts -->
				<div id="recentPosts">


				</div>
					
	   
				</div><!--/ col-lg-6 -->

				<% include partials/profile-top-users %> 

	   
	   
	 
	   </div>
	   
	  </div><!--/ row -->
	 </div><!--/ container -->
	</section><!--/ newsfeed -->
	 
	 
	 
	 
	  <!-- ==============================================
	 Scripts
	 =============================================== -->
	
  <!-- Footer -->
  <% include partials/footer %>
  
  <% include partials/scripts %>
  
	
	<script>
	$('#Slim,#Slim2').slimScroll({
			height:"auto",
			position: 'right',
			railVisible: true,
			alwaysVisible: true,
			size:"8px",
		});		
	</script>
	<script>
	 $(document).ready(getData());
	 	loadPosts();
	 </script>
	 
  </body>
</html>




