<!DOCTYPE html>
<html lang="en">

  <%- include('partials/head'); %>

<body>
  
  <!-- ======= Header ======= -->
  <%- include('partials/header'); %>
  <!-- End Header -->
  <% include partials/sub-page-header %>
  
          
            <div class="container">
              <h1>Public Posts.</h1>
              <!-- <a href="/users/account/updateAvatar">Update Avatar</a> | <a href="/users/account/changepassword/">Change Password</a>
              <br/><br/>
               -->
              <div id = "validationErrors"></div>
              <div id = "validationSuccess"></div>
              
              <div class="row">
                <div class="col-12">
                  <div class="row">
         
            
          </div>
           
          <input type="button" class="btn btn-secondary" id="btn_act" value="Dashboard">
            
          
        </div>
        <div class="col-1">&nbsp;</div>
      </div>
       

  <%- include('partials/cookie-msg'); %>
  
  <%- include('partials/scripts'); %>

  <script>
     $(document).ready(function() {
        getData();
        
    });
   
    </script>

  

</body>


</html>

