<!DOCTYPE html>
<html lang="en">

  <% include partials/head %>
  <meta name="viewport" content="width=device-width, initial-scale=1">




  </head>

<body>

  <!-- ======= Header ======= -->
  <% include partials/header %>
 
  <!-- End Header --> 

  <!-- ======= Hero Section ======= -->
  
    <section id="contact" class="contact section-bg" data-aos="fade-up"> 
    <div class="container">
      
      <div class="row">
        
        <div class="col-sm-5 offset-sm-3">
          <div class="section-title" data-aos="fade-up">
            
            <h2>Login</h2>
          <br/>
          Add info@gratitudetoday.org to your safe senders list to ensure you receive emails.
          <br/>
          </div>
          
            <div id = "validationErrors"></div>
            <div id = "validationSuccess"><img style="width:10%;" src="/assets/img/loading.gif"></img><br/></div>
            
            
                <div id="firebaseui-auth-container"></div>
               
        </div>
        
      </div>
       

  <% include partials/cookie-msg %>
  
  <% include partials/scripts %>
</body>


<script>
$( document ).ready(function() {
  $("#validationErrors").hide();
  $("#validationSuccess").hide();
});
</script>

  

</html>