<!DOCTYPE html>
<html lang="en">

  <% include partials/head %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
<script type="text/javascript">
   $("#validationErrors").hide();
    $("#validationSuccess").hide();
    initApp = function() {
        firebase.auth().onAuthStateChanged(function(user) {
          console.log('USER')
          console.log(user)
          
          if (user) {
            // User is is valid
            
            console.log('USER 2')
            console.log(user)  
            var displayName = user.displayName;
            var email = user.email;
            var emailVerified = user.emailVerified;
            var photoURL = user.photoURL;
            var uid = user.uid;
            var phoneNumber = user.phoneNumber;
            var providerData = user.providerData;
            user.getIdToken().then((accessToken) => {
              console.log('USER 3')
              console.log(providerData)
              console.log(user)
             //insert/check document ajax
              $.ajax({
                dataType: "json",
                type: "POST",
                data: {
                  firebase_uid: user.uid,
                  displayName:user.displayName,
                  email: user.email,
                  accessToken: accessToken,
                  photoURL: user.photoURL,
                  providerData:providerData
                
                },
                url: "/users/auth/",
                success: function (data) {
                 
                  
                  
                  if(data=="LOGIN_USER"){
                      //login user
                      window.location.assign("/users/account/dashboard/");
                      
                  }
                  else{ 
                    //send to journey page
                    window.location.replace("/users/auth/activateAccount/?id="+data._id);
                  }
                    
              
                 },
                error: function (error) {
                  
                  console.log(error.message);
                 
                }
              });
            })
          } else {
             //not sure what to do here...
             alert('in else');
            
          }
        }, function(error) {
          console.log(error);
        });
      };

  window.addEventListener('load', function() {
    initApp()
  });
</script></head>

<body>
  
  <!-- ======= Header ======= -->
  <% include partials/header %>
 
  <!-- End Header --> 

  <!-- ======= Hero Section ======= -->
  
  <!-- ======= Hero Section ======= -->
  <section id="sub-hero">
         
    <div class="container">
     
      <div class="row">
        <div class="col-2">&nbsp;</div>
        <div class="col-8">
         
         
<section class="features">
 
  <div class="container white-form">
    
    
    <div class="row">
      <div class="col-12 text-center">
        <h1 id="text1">Taking you on your Journey...
        </h1>
        
        
               <img style="width:10%;" src="/assets/img/loading.gif"></img><br/>
               
          <div class="col-2">&nbsp;</div>
          
        
    </div>
  </form> 
  </div>
  <% include partials/cookie-msg %>
  
  <% include partials/scripts %>
  
</body>


</script>
</html>