<!DOCTYPE html>
<html lang="en">

  <% include partials/head %>

<body>

  <!-- ======= Header ======= -->
  <% include partials/header %>
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" data-aos="fade-up">
          
    <div class="container">
      
      <div class="row">
        <div class="col-sm-8 offset-sm-2">
          <h1>Reset Password.</h1>
          <% include partials/accountnav %>
          <form class="white-form">
            
            <input type="hidden" id="id" value=""></input>

            <div class="form-group">
              <label for="password">New Password</label>
              <input type="password" class="form-control" id="password">

            </div>
            <div class="form-group">
              <label for="password">Confirm Password</label>
              <input type="password" class="form-control" id="confirmpassword">

            </div>



            <div class="control-group">
              <div class="controls">
                <br />
                
                <!-- <input type="submit" class="btn btn-success navtoTop" id="reset-password" onclick='resetPasswordSubmit()' value="Submit"> -->
                <input type="submit" class="btn btn-success navtoTop" id="resetPassword" value="Reset">
                <input type="button" class="btn btn-secondary" id="btn_home" value="Cancel">

              </div>


          </form>
        </div>
        
      </div>
       

  <% include partials/cookie-msg %>
  
  <% include partials/scripts %>


</body>


</html>