<!DOCTYPE html>
<html lang="en">

  <% include partials/head %>

<body>

  <!-- ======= Header ======= -->
  <% include partials/header %>
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" data-aos="fade-up">
          
    <div class="container">
      
     
      <div class="row">
       
        <div class="col-sm-8 offset-sm-2">
          <div id = "validationErrors"></div>
          <div id = "validationSuccess"></div>
          <h2>Reset Password.</h2>
          
          <form class="white-form">
            
            <input type="hidden" id="id" value=""></input>

            <div class="form-group">
              <label for="email">Enter your Email to reset your password.</label>
              <input type="input" class="form-control" id="email">

            </div>
           
            <div class="control-group">
              <div class="controls">
                <br />
                
                <!-- <input type="submit" class="btn btn-success navtoTop" id="reset-password" onclick='resetPasswordSubmit()' value="Submit"> -->
                <input type="submit" class="btn btn-success navtoTop" id="btn_reset" value="Reset">
                <input type="button" class="btn btn-secondary" id="btn_home" value="Cancel">

              </div>


          </form>
        </div>
        
      </div>
    <script>
      
      
        $( "#btn_reset" ).click(function() {
          
          const email = $("#email").val();
          console.log("email : "+email)
          if(email==null || email.trim()==""){
            //no email entered
            console.log("enter email");
            $('#validationErrors').html("<div class='alert alert-danger text-center'><i class='fas fa-times-circle'></i>&nbsp;Please enter an email address.</div>");
            $('#validationErrors').fadeIn();
            event.preventDefault();
          }
          else{
          //  console.log("send the email!")
          //   firebase.auth().sendPasswordResetEmail(
          //   'adrian@adriannadeau.com')
          //   .then(function() {
          //     // Password reset email sent.
          //     alert("sent!")
          //   })
          //   .catch(function(error) {
          //     // Error occurred. Inspect error.code.
          //     alert("error : "+error)
          //   });
           
             
              $.ajax({
                dataType: "json",
                type: "POST",
                data: {
                  email: email,
                },
                url: "/users/auth/sendResetEmail",
                  success: function (data) {
                },
                error: function (error) {
                  
                  console.log(error.message);
                 
                }
              
              })      

           
          }
        });
        $( "#btn_home" ).click(function() {
          window.location.assign("/");
        });
      
      </script>
    
  <% include partials/cookie-msg %>
  
  <% include partials/scripts %>


</body>


</html>