<!DOCTYPE html>
<html lang="en">

  <% include partials/head %>

<body>

  <!-- ======= Header ======= -->
  <% include partials/header %>
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="sub-hero">
         
    <div class="container">
     
      <div class="row">
        <div class="col-2">&nbsp;</div>
        <div class="col-8">
         
         
<section class="features">
 
  <div class="container white-form">
    
    
    <div class="row">
      <div class="col-12 text-center">
        <h1>Session Expired</h1>
        <p>Your session has been inactive for 30 minutes or more.</p>
               <img src="/assets/img/expired.png"></img><br/>
               <a href="/users/auth/">Click here to login.</a>
          <div class="col-2">&nbsp;</div>
        
        
    </div>
  </form> 
  </div>
</section><!-- End Features Section -->


 

  <% include partials/cookie-msg %>
 
  <% include partials/scripts %>

  
</body>


</html>





